
<footer class="footer">
  
    <nav class="legal-menu">
      <ul>
        <li><a href="/mentions-legales">Mentions légales</a></li>
        <li><a href="/donnees-personnelles">Données personnelles</a></li>
        <li><a href="/accessibilite">Accessibilité</a></li>
        <li><a href="/cookies">Cookies</a></li>
      </ul>
    </nav>
  
   
    <div class="contact-info">
      <p>101 cours Charlemagne CS 20033</p>
      <p>69269 LYON CEDEX 02</p>
      <p>France</p>
      <p>+33 (0)4 26 73 40 00</p>
    </div>
  </footer>
  
